<template>
	<v-dialog
		v-model="toggle_dialog"
		persistent
		max-width="500px"
		transition="dialog-transition"
	>
		<v-card>
			<v-card-title class="text-h5">
				Details
			</v-card-title>

			<v-card-text>
				<div
					class="caption text-right"
					v-text="`First brewed ${beer.first_brewed}`"
				/>

				<div
					class="title"
					v-text="beer.name"
				/>

				<div
					class="my-2 px-5 text-center"
					v-text="`'${beer.tagline}'`"
				/>

				<div
					class="font-weight-bold mt-3"
					v-text="'Ingredients'"
				/>

				<div
					class=""
					v-text="' - Malt'"
				/>

				<div class="pl-5">
					<li
						v-for="(malt, index) of beer.ingredients.malt"
						:key="index"
					>
						{{`${malt.name}: ${malt.amount.value} ${malt.amount.unit}`}}
					</li>
				</div>

				<div
					class=""
					v-text="' - Hops'"
				/>

				<div class="pl-5">
					<li
						v-for="(hops, index) of beer.ingredients.hops"
						:key="index"
					>
						{{`${hops.name}: ${hops.amount.value} ${hops.amount.unit}`}}
					</li>
				</div>

				<div
					class=""
					v-text="' - Yeast'"
				/>

				<div class="pl-5">
					<li>
						{{beer.ingredients.yeast}}
					</li>
				</div>

				<div
					class="font-weight-bold mt-3"
					v-text="'Foods'"
				/>

				<template v-if="beer.food_pairing.length">
					<div
						v-for="(food, index) of beer.food_pairing"
						:key="index"
						class="blue lighten-5 rounded-lg pa-2 mb-1"
					>
						{{food}}
					</div>
				</template>

				<template v-else>
					<div
						class="caption text-center"
						v-text="'Without foods'"
					/>
				</template>

				<div
					class="font-weight-bold mt-3"
					v-text="'Description'"
				/>

				<div v-text="beer.description"/>

				<v-row
					class="mt-5"
					justify="end"
					no-gutters
				>
					<v-btn
						color="primary"
						text
						@click="CLOSE_DIALOG()"
					>
						Close
					</v-btn>
				</v-row>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapState } from 'vuex';

export default Vue.extend({
	name: 'Dialog',

	computed: {
		...mapState('Beers', ['toggle_dialog', 'beer']),
	},

	methods: {
		...mapActions('Beers', ['CLOSE_DIALOG']),
	},
});
</script>

<style lang="scss">
</style>
