<template>
	<v-row
		class="py-5"
		justify="center"
	>
		<v-col cols="auto">
			<v-btn
				color="primary"
				text
				width="120"
				@click="previous()"
				v-text="'Previous'"
				:disabled="new_params.page === 1 || is_loading"
			/>
		</v-col>
		<v-col cols="auto">
			<v-btn
				color="primary"
				width="120"
				@click="next()"
				v-text="'Next'"
				:disabled="is_loading || beers.length < 30"
			/>
		</v-col>
	</v-row>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapState } from 'vuex';

export default Vue.extend({
	name: 'Pagination',

	data() {
		return {
			new_params: {
				page: 1,
				per_page: 30,
			},
		};
	},

	computed: {
		...mapState('Beers', ['params', 'is_loading', 'beers']),
	},

	mounted() {
		this.new_params.page = Number(this.params.page);
		this.new_params.per_page = Number(this.params.per_page);
	},

	methods: {
		previous() {
			this.new_params = { ...this.params };
			this.new_params.page -= 1;
			this.SEARCH(this.new_params);
		},

		next() {
			this.new_params = { ...this.params };
			this.new_params.page += 1;
			this.SEARCH(this.new_params);
		},

		...mapActions('Beers', ['SET_PARAMS', 'SEARCH']),
	},
});
</script>

<style lang="scss">
</style>
