<template>
	<v-app-bar
		app
		color="white"
		dark
		elevate-on-scroll
	>
		<v-container>
			<v-toolbar-title
				class="primary--text font-weight-bold"
				v-text="module_name"
			/>
		</v-container>
	</v-app-bar>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapState } from 'vuex';

export default Vue.extend({
	name: 'BaseAppBar',

	computed: {
		...mapState(['module_name']),
	},
});
</script>

<style lang="scss">
</style>
