<template>
	<v-container>
		<List :beers="beers"/>
		<Filters />
		<Pagination />
		<Dialog />
	</v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import List from '@/views/Beers/List/Index.vue';
import Pagination from '@/views/Beers/Pagination/Index.vue';
import Filters from '@/views/Beers/Filters/Index.vue';
import Dialog from '@/views/Beers/Dialog/Index.vue';
import { mapActions, mapState } from 'vuex';

export default Vue.extend({
	name: 'Beer',

	components: {
		List,
		Pagination,
		Filters,
		Dialog,
	},

	data() {
		return {};
	},

	computed: {
		...mapState('Beers', ['beers', 'params']),
	},

	created() {
		this.SET_MODULE_NAME('Beers');
		this.SEARCH(this.params);
	},

	methods: {
		...mapActions('Beers', ['SEARCH']),
		...mapActions(['SET_MODULE_NAME']),
	},
});
</script>

<style lang="scss">
</style>
