<template>
	<v-dialog
		v-model="toggle"
		max-width="500"
	>
		<template v-slot:activator="{ on, attrs }">
			<v-btn
				elevation="20"
				color="grey"
				dark
				width="25"
				bottom
				right
				fixed
				v-bind="attrs"
				v-on="on"
			>
				<v-icon v-text="'mdi-filter'"/>
			</v-btn>
		</template>

		<v-card>
			<v-card-title
				v-text="'Find your beer'"
			/>

			<v-card-text class="mt-4">
				<v-row no-gutters>
					<v-col cols="12">
						<BaseTextField
							v-model="filters.beer_name"
							:label="'Name'"
							:placeholder="'(Ex.) Punk IPA 2007 - 2010'"
						/>
					</v-col>

					<v-col cols="12">
						<BaseTextField
							v-model="filters.food"
							:label="'Food'"
							:placeholder="'(Ex.) Asada'"
						/>
					</v-col>

					<v-col cols="12">
						<div v-text="'Brewed'"/>

						<v-row>
							<v-col xl="6" lg="6" md="6" sm="12" cols="12">
								<BaseDatePicker
									v-model="filters.brewed_after"
									:placeholder="'After this date'"
								/>
							</v-col>
							<v-col xl="6" lg="6" md="6" sm="12" cols="12">
								<BaseDatePicker
									v-model="filters.brewed_before"
									:placeholder="'Before this date'"
								/>
							</v-col>
						</v-row>
					</v-col>

					<v-col cols="12">
						<div v-text="'ABV'"/>

						<v-row>
							<v-col cols="6">
								<BaseTextField
									v-model="filters.abv_gt"
									:placeholder="'Greater than'"
									:type="'number'"
								/>
							</v-col>
							<v-col cols="6">
								<BaseTextField
									v-model="filters.abv_lt"
									:placeholder="'Less than'"
									:type="'number'"
								/>
							</v-col>
						</v-row>
					</v-col>

					<v-col cols="12">
						<div v-text="'IBU'"/>

						<v-row>
							<v-col cols="6">
								<BaseTextField
									v-model="filters.ibu_gt"
									:placeholder="'Greater than'"
									:type="'number'"
								/>
							</v-col>
							<v-col cols="6">
								<BaseTextField
									v-model="filters.ibu_lt"
									:placeholder="'Less than'"
									:type="'number'"
								/>
							</v-col>
						</v-row>
					</v-col>
				</v-row>

				<v-row
					class="justify-end"
					no-gutters
				>
					<v-btn
						color="primary"
						text
						@click="cancel()"
					>
						Cancel
					</v-btn>

					<v-btn
						class="ml-2"
						color="primary"
						depressed
						@click="filter()"
					>
						Filter
					</v-btn>
				</v-row>
			</v-card-text>
		</v-card>
	</v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import BaseTextField from '@/components/BaseTextField/Index.vue';
import BaseDatePicker from '@/components/BaseDatePicker/Index.vue';
import { mapActions, mapState } from 'vuex';

export default Vue.extend({
	name: 'Filters',

	components: {
		BaseTextField,
		BaseDatePicker,
	},

	data() {
		return {
			toggle: false,
			base_params: {
				page: undefined,
				per_page: undefined,
			},
			filters: {
				beer_name: '',
				food: '',
				brewed_before: '',
				brewed_after: '',
				abv_gt: '',
				abv_lt: '',
				ibu_gt: '',
				ibu_lt: '',
			},
		};
	},

	computed: {
		...mapState('Beers', ['params']),
	},

	created() {
		this.base_params.page = this.params.page;
		this.base_params.per_page = this.params.per_page;
	},

	methods: {
		cancel() {
			this.toggle = false;
			this.filters.beer_name = this.params.beer_name;
		},

		filter() {
			const new_params = {
				page: 1,
				per_page: this.params.per_page,
				...(this.filters.beer_name ? { beer_name: this.filters.beer_name.split(' ').join('_') } : {}),
				...(this.filters.food ? { food: this.filters.food.split(' ').join('_') } : {}),
				...(this.filters.brewed_before ? { brewed_before: this.filters.brewed_before } : {}),
				...(this.filters.brewed_after ? { brewed_after: this.filters.brewed_after } : {}),
				...(this.filters.abv_gt ? { abv_gt: this.filters.abv_gt } : {}),
				...(this.filters.abv_lt ? { abv_lt: this.filters.abv_lt } : {}),
				...(this.filters.ibu_gt ? { ibu_gt: this.filters.ibu_gt } : {}),
				...(this.filters.ibu_lt ? { ibu_lt: this.filters.ibu_lt } : {}),
			};

			this.SEARCH(new_params);

			this.toggle = false;
		},

		...mapActions('Beers', ['SEARCH']),
	},
});
</script>

<style lang="scss">
</style>
