<template>
	<div>
		<div v-text="label"/>

		<v-text-field
			v-bind:value="value"
			v-on:input="$emit('input', $event)"
			class="body-2"
			:placeholder="placeholder"
			:type="type"
			outlined
			dense
		></v-text-field>
	</div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
	name: 'TextField',

	props: {
		value: {
			type: String,
			default() {
				return '';
			},
		},

		label: {
			type: String,
			default() {
				return '';
			},
		},

		placeholder: {
			type: String,
			default() {
				return '';
			},
		},

		type: {
			type: String,
			default() {
				return 'text';
			},
		},
	},
});
</script>

<style lang="scss">
</style>
