<template>
	<v-menu
		ref="ref_menu"
		v-model="toggle_menu"
		:close-on-content-click="false"
		:return-value.sync="date"
		transition="scale-transition"
		offset-y
		max-width="290px"
		min-width="auto"
	>
		<template v-slot:activator="{ on, attrs }">
			<div v-text="label"/>

			<v-text-field
				v-model="date_formated"
				:placeholder="placeholder"
				append-icon="mdi-calendar"
				readonly
				outlined
				dense
				v-bind="attrs"
				v-on="on"
			></v-text-field>
		</template>

		<v-date-picker
			v-model="date"
			type="month"
			no-title
			scrollable
		>
			<v-spacer></v-spacer>

			<v-btn
				text
				color="primary"
				@click="toggle_menu = false"
			>
				Cancel
			</v-btn>

			<v-btn
				text
				color="primary"
				@click="$refs.ref_menu.save(date)"
			>
				OK
			</v-btn>
		</v-date-picker>
	</v-menu>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
	name: 'DatePicker',

	props: {
		value: {
			type: String,
			default() {
				return '';
			},
		},

		label: {
			type: String,
			default() {
				return '';
			},
		},

		placeholder: {
			type: String,
			default() {
				return '';
			},
		},
	},

	data() {
		return {
			toggle_menu: false,
			date: '',
			date_formated: '',
		};
	},

	watch: {
		date(value) {
			this.date_formated = this.formatDate(value);
			this.$emit('input', this.date_formated);
		},
	},

	methods: {
		formatDate(date: string): string {
			if (!date) return '';

			const [year, month] = date.split('-');
			return `${month}-${year}`;
		},
	},
});
</script>

<style lang="scss">
</style>
