<template>
	<v-row>
		<v-col
			v-for="beer of beers"
			:key="beer.id"
			xl="3"
			lg="4"
			md="6"
			sm="12"
			cols="12"
		>
			<Card :beer="beer"/>
		</v-col>
	</v-row>
</template>

<script lang="ts">
import Vue from 'vue';
import Card from '@/views/Beers/List/Card/Index.vue';

export default Vue.extend({
	name: 'List',

	components: {
		Card,
	},

	props: {
		beers: {
			type: Array,
			required: true,
		},
	},
});
</script>

<style lang="scss">
</style>
