<template>
	<v-app>
		<BaseAppBar/>

		<v-main>
			<router-view/>
		</v-main>
	</v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import BaseAppBar from '@/components/BaseAppBar/Index.vue';

export default Vue.extend({
	name: 'App',

	components: {
		BaseAppBar,
	},

	data: () => ({
		//
	}),
});
</script>
