<template>
	<v-hover v-slot="{ hover }">
		<v-card
			class="rounded-lg"
			outlined
			width="100%"
			:elevation=" hover ? 12 : 10"
			@click="OPEN_DIALOG(beer)"
		>
			<v-card-text class="pa-5">
				<div>
					<v-row>
						<v-col cols="auto">
							<div class="blue lighten-5 rounded-lg pa-2">
								<v-img
									:src="beer.image_url"
									width="60px"
									height="60px"
									contain
								/>
							</div>
						</v-col>

						<v-col>
							<div class="d-flex justify-space-between">
								<div
									class="caption grey--text"
									v-text="`First brewed in ${beer.first_brewed}`"
								/>

								<div
									class="font-weight-bold name"
									v-text="`${beer.abv}%`"
								/>
							</div>

							<div
								class="font-weight-bold grey--text text--darken-3"
								v-text="beer.name"
							/>
						</v-col>
					</v-row>

					<v-divider class="my-2"/>

					<div
						class="tagline d-flex align-center justify-center">
						<div v-text="`'${beer.tagline}'`"/>
					</div>

					<v-divider class="my-2"/>

					<div class="border rounded-lg blue-grey lighten-5 pa-3">
						<div
							class="description"
							v-text="beer.description"
						/>
					</div>
				</div>
			</v-card-text>
		</v-card>
	</v-hover>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions } from 'vuex';

export default Vue.extend({
	name: 'Card',

	props: {
		beer: {
			type: Object,
			required: true,
		},
	},

	data: () => ({}),

	methods: {
		...mapActions('Beers', ['OPEN_DIALOG']),
	},
});
</script>

<style lang="scss">
	.name {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.tagline {
		height: 50px;
		text-align: center;
	}

	.description {
		height: 70px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
</style>
